.dashboard-content{
    padding: 15px;
    margin-top: 10px;
    font-family: Poppins,Helvetica,Arial,sans-serif;
    background-color: #f8f8ff;
}


@media (max-width: 992px){
    .tabela button{
        font-size: 12px;
        width: 43%;
    }
}

@media (max-width: 550px){
    .tabela th, .tdDisable{
        display: none;
    }

}



